{% extends 'base.html.twig' %}

{% block title %}Les offres d'emplois{% endblock %}

{% block body %}



    <div class="container-md mt-5">
        {% for message in app.flashes('succes_joboffer_create') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        {% for message in app.flashes('succes_joboffer_edit') %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        {% for message in app.flashes('succes_joboffer_delete') %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        <div class="row d-flex justify-content-between align-items-center">
            <div class="col-md-8">
                <h2>l'offre d'emplois</h2>
            </div>
            <div class="col-md-8">
                <a class="btn btn-info" href="{{ path('joboffer_create') }}">création d'une offre d'emplois</a>
            </div>
        </div>
        <div class="table-responsive mt-5">
            <table class="table table-striped">
                <thead>
                <tr>
      <th scope="col">##</th>
            <th scope="col">titre du job</th>
      <th scope="col">description du job</th>
      <th scope="col">date de début du job</th>
      <th scope="col">date de fin du job</th>
      <th scope="col">poste du job</th>
      <th scope="col">nombre de place valide</th>
                </tr>
                </thead>
                <tbody>
                {% for joboffer in joboffers %}
                    <tr>
                          <th scope="row">##</th>
      <td><p>titre du job : {{ joboffer.TitleJob|capitalize }}</p></td>
      <td><p>description du job: {{ joboffer.Description|capitalize }}</p></td>
            <td><p>date de début du job : {{ joboffer.PublicationDate|date('d-m-Y') }}</p></td>
                  <td><p>date de fin du job : {{ joboffer.DeadlineCandidacy|date('d-m-Y') }}</p></td>
                        <td><p>poste du job : {{ joboffer.Service|capitalize }}</p></td>
                              <td><p>nombre de place valide : {{ joboffer.NumberPositionsAvailable }}</p></td>

                        <td class="center">
                            <div class="row d-flex justify-content-center">
                                <div class="mx-3">
                                        <a class="btn btn-warning" href="{{ path('joboffer_edit', {'id' : joboffer.id}) }}"><i class="fas fa-edit mr-1"></i>Éditer</a>   
                                        <a class="btn btn-danger" onclick="confirm('supprimé l'offre ?')" href="{{ path('joboffer_delete', {'id' : joboffer.id}) }}"><i class="fas fa-trash mr-1"></i>Supprimer</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}