{% extends 'base.html.twig' %}

{% block title %}Hello HolidaysController!{% endblock %}

{% block body %}

<div class="container-md mt-5">
    <h2>Les vacances des employées</h2>
    {% for holiday in holidays %}
 <article class="card my-5 p-5 w-75 mx-auto">
                <div class="card-body">
                <tr>
                  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Holidays</th>
      <th scope="col">date de début</th>
      <th scope="col">date de fin</th>
      {# <th scope="col">accepter/refusé</th> #}
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><p>En vacances a partir du : {{ holiday.dateStart|date('d-m-Y')}}</p></td>
      <td><p>En vacances jusqu'au  : {{ holiday.dateEnd|date('d-m-Y')}}</p></td>
      {# <td><p> {% if is_validated %}YES{% else %}NO{% endif %} </p></td> #}
    </tr>
  </tbody>
</table>
<div class="d-flex justify-content-center align-itmes-center">
                                    <div class="mx-2">
                                        <a class="btn btn-warning" href="{{ path('holidays_edit', {'id' : holiday.id}) }}"><i class="fas fa-edit mr-1"></i>Éditer</a>
                                    </div>
                                                                        <div class="mx-2">
                                        <a class="btn btn-warning" href="{{ path('holidays_create') }}"><i class="fas fa-edit mr-1"></i>Create</a>
                                    </div>
                                    <div class="mx-2">
                                    
                                        <a class="btn btn-danger" onclick="confirm('Supprimer les vacances ?')" href="{{ path('holidays_delete', {'id' : holiday.id}) }}"><i class="fas fa-trash mr-1"></i>Supprimer</a>
                                    </div>
                                </div>

                            </div>
                          </tr>
                    </article>
{% endfor %}
</div>
{% endblock %}
