
{% extends 'base.html.twig' %}
{% block title %}Les points de vente{% endblock %}

{% block body %}
    <div class="container-md mt-5">
        {% for message in app.flashes('point_of_sale_create') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        {% for message in app.flashes('point_of_sale_edit') %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        {% for message in app.flashes('point_of_sale_delete') %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        <div class="row d-flex justify-content-between align-items-center">
            <div class="col-md-8">
                <h2>Les point de vente</h2>
            </div>
            <div class="col-md-8">
                <a class="btn btn-info" href="{{ path('point_of_sale_create') }}">Créer un point de vente</a>
            </div>
        </div>
        <div class="table-responsive mt-5">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="text-center">Nom du point de vente</th>
                </tr>
                </thead>
                <tbody>
                {% for PointOfSale in PointOfSales %}
                    <tr>
                        
                        <td class="text-center"><a class="text-dark" target="_blank" rel="noopener noreferrer" href="#">{{ PointOfSale.nameVarchar|capitalize }}</a></td>
                        <td class="center">
                            <div class="row d-flex justify-content-center">
                                <div class="mx-3">
                                    <a class="btn btn-warning" href="{{ path('point_of_sale_edit', {'id': PointOfSale.id}) }}"><i class="fas fa-edit mr-1"></i>Éditer</a>
                                    <a class="btn btn-danger" href="{{ path('point_of_sale_delete', {'id': PointOfSale.id}) }}"><i class="fas fa-trash mr-1"></i>Supprimer</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

