{% extends 'base.html.twig' %}

{% block title %}Les salaires{% endblock %}

{% block body %}



    <div class="container-md mt-5">
        {% for message in app.flashes('succes_salary_create') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        {% for message in app.flashes('succes_salary_edit') %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        {% for message in app.flashes('succes_salary_delete') %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        <div class="row d-flex justify-content-between align-items-center">
            <div class="col-md-8">
                <h2>Les salaires</h2>
            </div>
            <div class="col-md-8">
                <a class="btn btn-info" href="{{ path('salary_create') }}">création de salaire</a>
            </div>
        </div>
        <div class="table-responsive mt-5">
            <table class="table table-striped">
                <thead>
                <tr>
      <th scope="col">Salarié</th>
      <th scope="col">montant</th>
      <th scope="col">heures supplémentaires</th>
                </tr>
                </thead>
                <tbody>
                {% for salary in salarys %}
                    <tr>
                          <th scope="row">##</th>
      <td><p>montant : {{ salary.Sum|number_format(2, '.', ',')}}</p></td>
      <td><p>heures supplémentaires retenu : {{ salary.Overtime|capitalize }}</p></td>

                        <td class="center">
                            <div class="row d-flex justify-content-center">
                                <div class="mx-3">
                                        <a class="btn btn-warning" href="{{ path('salary_edit', {'id' : salary.id}) }}"><i class="fas fa-edit mr-1"></i>Éditer</a>   
                                        <a class="btn btn-danger" onclick="confirm('Supprimer les vacances ?')" href="{{ path('salary_delete', {'id' : salary.id}) }}"><i class="fas fa-trash mr-1"></i>Supprimer</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
