{% extends 'base.html.twig' %}

{% block title %}Les Employés{% endblock %}

{% block body %}
{% for message in app.flashes('success_employee_create') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        {% for message in app.flashes('success_employee_edit') %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        {% for message in app.flashes('success_employee_delete') %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        <div class="row d-flex justify-content-between align-items-center">
            <div class="jumbotron bg-primary text-light p-5 text-center">
                <h2>Les Employés</h2>
            </div>
            <div class="col-md-8">
                <a class="btn btn-info" href="{{ path('app_register') }}">Créer un utilisateur</a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="text-center" scope="col">Nom</th>
                    <th class="text-center" scope="col">Prénom</th>
                    <th class="text-center" scope="col">Mail</th>
                    <th class="text-center" scope="col">Numéro de téléphone</th>
                    <th class="text-center" scope="col">Service</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td class="text-center">{{ user.lastname }}</td>
                        <td class="text-center">{{ user.firstname }}</td>
                        <td class="text-center">{{ user.email }}</td>
                        <td class="text-center">+33 {{ user.employee.phoneNumber }}</td>
                        <td class="text-center">{{ user.employee.job }}</td>
                        <td>
                            <div class="center">
                                {# <div class="mx-2">
                                    <a href="{{ path('details_employee', {'id': user.employee}) }}" class="btn btn-info"><i class="fas fa-edit mr-1"></i>Voir détails</a>
                                </div> #}
                                <div class="mx-2">
                                    <a href="{{ path('edit_employee', {'id': user.id}) }}" class="btn btn-warning"><i class="fas fa-edit mr-1"></i>Éditer</a>
                                </div>
                                <div class="mx-2">
                                    <a href="{{ path('delete_employee', {'id': user.id}) }}" class="btn btn-danger"><i class="fas fa-trash mr-1"></i>Supprimer</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %} 

