{% extends 'base.html.twig' %}
{% block title %}Les stock{% endblock %}

{% block body %}
    <div class="container-md mt-5">
        {% for message in app.flashes('stock_company_commercial_create') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        {% for message in app.flashes('stock_company_commercial_edit') %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        {% for message in app.flashes('stock_company_commercial_delete') %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        <div class="row d-flex justify-content-between align-items-center">
            <div class="col-md-8">
                <h2>Les stocks</h2>
            </div>
            <div class="col-md-8">
                <a class="btn btn-info" href="{{ path('stock_company_commercial_create') }}">Créer un stock</a>
            </div>
        </div>
        <div class="table-responsive mt-5">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="text-center">Quantité</th>
                    <th class="text-center">Etat du produit</th>
                    <th class="text-center">Référence produit</th>
                </tr>
                </thead>
                <tbody>
                {% for StockCompanyCommercial in StockCompanyCommercials %}
                    <tr>
                        
                        <td class="text-center"><p class="text-dark" target="_blank" rel="noopener noreferrer"> {{ StockCompanyCommercial.Quantity|capitalize }} </p></td>
                        <td class="text-center"><p class="text-dark" target="_blank" rel="noopener noreferrer"> {{ StockCompanyCommercial.Etat|capitalize }}</p></td>
                        <td class="text-center"><p class="text-dark" target="_blank" rel="noopener noreferrer"> {{ StockCompanyCommercial.Ref|capitalize }}</p></td>
                        <td class="center">
                            <div class="row d-flex justify-content-center">
                                <div class="mx-3">
                                    <a class="btn btn-warning" href="{{ path('stock_company_commercial_edit', {'id': StockCompanyCommercial.id}) }}"><i class="fas fa-edit mr-1"></i>Éditer</a>
                                    <a class="btn btn-danger" href="{{ path('stock_company_commercial_delete', {'id': StockCompanyCommercial.id}) }}"><i class="fas fa-trash mr-1"></i>Supprimer</a>
                                </div>
                                
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}


